@import 'placeholders';

:host {
  @extend %slide;
}

.toggles {
  border-bottom: 1px solid var(--grey);
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  padding-bottom: 24px;
  margin-top: 24px;
  width: 100%;

  &__button {
    border: 1px solid var(--blue);
    color: var(--blue);
    cursor: pointer;
    flex: 0 0 200px;
    justify-content: center;
    margin-right: 12px;

    &:last-child {
      margin: 0;
    }

    &.active {
      background: var(--blue);
      color: var(--white);
    }
  }
}

.examples {
  padding-top: 12px;
  text-align: center;
  width: 100%;
}
