<div class="content" role="main">
  <div class="card card--headed">
    <div class="header">Overview</div>
    <ul>
      <li>New in Webpack 5</li>
      <li>Allows remotely deployed applications to work together to form a holistic application</li>
      <li>...by sharing their inner modules to consumers</li>
      <li>Federated modules can define shared dependencies, to avoid downloading large libraries multiple times</li>
      <li>Each consumed module can also consume other federated modules</li>
    </ul>
  </div>
  <div class="card card--headed">
    <div class="header">Federation?</div>
    <blockquote>“Federation in a general sense, refers to a union of partially self-governing entities sitting under a central governor.”</blockquote>

    <div class="diagram">
      <div class="diagram__app diagram__app--full">
        <h2>Host application</h2>
        <div class="diagram__dependency" [class.activated]="accessingDeps.has('angular')">Angular</div>
        <div class="diagram__dependency" [class.activated]="accessingDeps.has('ngrx')">NgRx</div>
        <div class="diagram__dependency" [class.activated]="accessingDeps.has('rxjs')">RxJS</div>
      </div>
      <div class="diagram__remotes">
        <div class="diagram__app diagram__app--remote"
             [class.show-deps]="openRemotes.has(0)" (click)="openRemote(0); accessDeps(['angular'])"
        >
          <h3>Remote 1</h3>
          <div class="diagram__dependency">Angular</div>
        </div>
        <div class="diagram__app diagram__app--remote"
             [class.show-deps]="openRemotes.has(1)" (click)="openRemote(1); accessDeps(['angular', 'ngrx'])">
          <h3>Remote 2</h3>
          <div class="diagram__dependency">Angular</div>
          <div class="diagram__dependency">NgRx</div>
        </div>
        <div class="diagram__app diagram__app--remote"
             [class.show-deps]="openRemotes.has(2)" (click)="openRemote(2); accessDeps(['angular', 'date-fns'])">
          <h3>Remote 3</h3>
          <div class="diagram__dependency">Angular</div>
          <div class="diagram__dependency" [class.activated]="accessingDeps.has('date-fns')">date-fns</div>
        </div>
      </div>
    </div>

    <p>Module Federation, then, can be seen as a central application (the host) that can load other modules (remote entities). Federated modules are deployed remotely, and independent of the host, but can be loaded dynamically into any another application as long as it supports it.</p>
  </div>
</div>
