<div class="content" role="main">
  <h1>Thanks!</h1>
  <div class="card card--headed">
    <img src="/assets/images/github.svg" class="centre github">
    <p class="centre">This repository can be found <a href="https://github.com/pauleustice/angular-microfrontends" target="_blank">on my Github account</a>.</p>
  </div>
  <div class="card card--headed">
    <div class="header">Useful resources:</div>
    <ul>
      <li><a href="https://www.angulararchitects.io/aktuelles/the-microfrontend-revolution-module-federation-in-webpack-5/" target="_blank">The Microfrontend Revolution</a></li>
      <li><a href="https://github.com/module-federation/module-federation-examples/blob/master/angular-universal-ssr/README.md" target="_blank">Angular Universal example</a></li>
      <li><a href="https://www.npmjs.com/package/@angular-architects/module-federation" target="_blank">@angular-architects/module-federation</a></li>
      <li><a href="https://webpack.js.org/concepts/module-federation/" target="_blank">Webpack documentation</a></li>
    </ul>
  </div>
</div>
