<div class="content" role="main">
  <div class="card card--headed">
    <div class="header">Configuring a remote</div>
    <app-console>
      <div class="file-name">remote/src/webpack.config.js</div>
      <pre>const ModuleFederationPlugin =</pre>
      <pre>  require('webpack/lib/container/ModuleFederationPlugin');</pre>
      <pre>

      </pre>
      <pre>module.exports = {{ '{' }}</pre>
      <pre>  output: {{ '{' }}</pre>
      <pre [class.active]="step === 0">    publicPath: 'http://localhost:3000/',</pre>
      <pre [class.active]="step === 1">    uniqueName: 'iphone'</pre>
      <pre>  },</pre>
      <pre>  optimization: {{ '{' }}</pre>
      <pre>    // Only needed to bypass a temporary bug</pre>
      <pre>    runtimeChunk: false</pre>
      <pre>  },</pre>
      <pre>  plugins: [</pre>
      <pre>    new ModuleFederationPlugin({{ '{' }}</pre>
      <pre [class.active]="step === 1">      name: 'iphone',</pre>
      <pre [class.active]="step === 2">      library: {{ '{' }} type: 'var', name: 'iphone' },</pre>
      <pre [class.active]="step === 3">      filename: 'remoteEntry.js',</pre>
      <pre [class.active]="step === 4">      exposes: {{ '{' }} IPhoneMainModule: './path/from/root/to/iphone.module.ts' },</pre>
      <pre [class.active]="step === 5">      shared: [ '@angular/core', '@angular/common', '@angular/router' ]</pre>
      <pre>    }),</pre>
      <pre>  ],</pre>
      <pre>};</pre>
    </app-console>

    <app-console>
      <pre><span class="comment" *ngIf="step === 0">Where the remote is hosted</span></pre>
      <pre><span class="comment" *ngIf="step === 1">A unique name to register the remote runtime</span></pre>
      <pre><span class="comment" *ngIf="step === 2">Creates a global variable for initialising the module manually, not obligatory</span></pre>
      <pre><span class="comment" *ngIf="step === 3">The host includes this generated runtime file from the publicPath URL</span></pre>
      <pre><span class="comment" *ngIf="step === 4">The modules we wish to expose</span></pre>
      <pre><span class="comment" *ngIf="step === 5">The dependencies we wish to share</span></pre>
    </app-console>

    <nav class="console-nav">
      <div class="card card--prev card--mini" (click)="updateStep(-1)">Prev</div>
      <div class="card card--mini">Step {{ step + 1 }}</div>
      <div class="card card--next card--mini" (click)="updateStep(1)">Next</div>
    </nav>
  </div>
</div>
