<div class="content" role="main">
  <div class="card card--headed">
    <div class="header">Requirements</div>
    <ul>
      <li>Angular 11</li>
      <li>Yarn</li>
      <li>Webpack 5</li>
    </ul>
  </div>
  <div class="card card--headed">
    <div class="header">Why yarn?</div>
    <p>Webpack 5 support is currently experimental</p>
    <app-console>
      <pre>ng config cli.packageManager yarn</pre>
    </app-console>
    <app-console>
      <pre class="comment">// in your package.json:</pre>
      <pre>

      </pre>
      <pre>"resolutions": {{ '{' }}</pre>
      <pre> "webpack": "5.4.0"</pre>
      <pre>}</pre>
    </app-console>
  </div>
</div>
